.drink {
  padding: 3rem 5rem;
  background-color: #cec8b3;

  &__title {
    color: #080601;
    font-size: 3rem;
    padding-bottom: 3rem;
    font-weight: 700;
  }

  &__container {
    display: flex;
    padding: 2rem;
  }

  &__name-img {
    flex-direction: column;
  }

  &__img {
    width: 20rem;
    border-radius: 0.5rem;
  }

  &__subtitle {
    padding-bottom: 1rem;
    font-size: 1.8rem;
  }

  &__body-container {
    flex-direction: column;
    margin-left: 2rem;
    padding: 1.5rem;
    background-color: #e7e4cf;
    border-radius: 0.5rem;
    margin-top: 3rem;
    width: 100%;
  }



  &__instructions-title {
    padding: 1rem 0 0.5rem;
  }

  &__ingredients-title {
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
  }

  &__instructions-body{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &__ingredient-container {
    font-size: 1rem;
    line-height: 1.5rem;
  } 

  &__instructions-title {
    font-size: 1.25rem;
  }
}
