.nav {
  display: flex;
  justify-content: center;
  background-color: #080601;
  &__logo {
    font-family: "Lexend", sans-serif;
    color: #d6a83b;
    padding: 1rem 0rem;
    font-size: 3rem;
    font-weight: 600;
  }
}
