@charset "UTF-8";
.nav {
  display: flex;
  justify-content: center;
  background-color: #080601;
}
.nav__logo {
  font-family: "Lexend", sans-serif;
  color: #d6a83b;
  padding: 1rem 0rem;
  font-size: 3rem;
  font-weight: 600;
}

.hero__container {
  -o-object-fit: cover;
     object-fit: cover;
  height: 38rem;
  position: relative;
}
.hero__img {
  width: 100%;
  height: 100%;
}
.hero__title-container {
  display: flex;
  position: absolute;
  opacity: 30%;
  background-color: black;
  width: 100%;
  height: 10rem;
  top: 28rem;
}
.hero__title {
  align-self: center;
  position: absolute;
  color: white;
  top: 31rem;
  font-size: 3rem;
  font-weight: 700;
  padding-left: 5rem;
}

.ingredients {
  padding: 3rem 5rem;
  background-color: #e7e4cf;
  display: flex;
  flex-direction: column;
}
.ingredients__title {
  color: #080601;
  font-size: 3rem;
  padding-bottom: 3rem;
  font-weight: 700;
}
.ingredients__button {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.25rem;
  height: 4rem;
  width: 12rem;
  background-color: #d6a83b;
  border: none;
  border-radius: 0.5rem;
  margin-top: 3rem;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
}
.ingredients-list__item {
  display: flex;
  align-content: center;
  flex: 0 0 25%;
  padding: 1rem 1.5rem;
}

.ingredients-form-container {
  display: flex;
  flex-direction: column;
}

.item-check-box {
  display: flex;
  align-self: center;
  position: relative;
  left: -2rem;
  height: 1.6rem;
  width: 1.6rem;
}

.item-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.25rem;
  margin-left: 1rem;
  height: 3rem;
  width: 9rem;
  background-color: #cc9d49;
  border: none;
  border-radius: 0.5rem;
}

label input {
  display: none;
  /* Hide the default checkbox */
}

/* Style the artificial checkbox */
label span {
  font-size: 4rem;
  height: 3rem;
  width: 3rem;
  border: 0 solid grey;
  color: black;
  background-color: #cc9d49;
  border-radius: 0.5rem;
  display: inline-block;
  position: relative;
  font-family: "Domine", serif;
}

/* Style its checked state...with a ticked icon */
[type=checkbox]:checked + span:before {
  content: "✔";
  position: absolute;
  height: 1rem;
  width: 1rem;
  top: -1rem;
  left: 1px;
}

.drink {
  padding: 3rem 5rem;
  background-color: #cec8b3;
}
.drink__title {
  color: #080601;
  font-size: 3rem;
  padding-bottom: 3rem;
  font-weight: 700;
}
.drink__container {
  display: flex;
  padding: 2rem;
}
.drink__name-img {
  flex-direction: column;
}
.drink__img {
  width: 20rem;
  border-radius: 0.5rem;
}
.drink__subtitle {
  padding-bottom: 1rem;
  font-size: 1.8rem;
}
.drink__body-container {
  flex-direction: column;
  margin-left: 2rem;
  padding: 1.5rem;
  background-color: #e7e4cf;
  border-radius: 0.5rem;
  margin-top: 3rem;
  width: 100%;
}
.drink__instructions-title {
  padding: 1rem 0 0.5rem;
}
.drink__ingredients-title {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}
.drink__instructions-body {
  font-size: 1rem;
  line-height: 1.5rem;
}
.drink__ingredient-container {
  font-size: 1rem;
  line-height: 1.5rem;
}
.drink__instructions-title {
  font-size: 1.25rem;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Domine", serif;
}

body {
  font-family: "Domine", serif;
}/*# sourceMappingURL=index.css.map */